@import 'reset-css';

html,
body {
	font-family: 'latoRegular';
}
@media screen and (min-width: 577px) {
	html,
	body {
		font-size: 10px;
	}
}
@media screen and (max-width: 576px) {
	html,
	body {
		font-size: calc(0px + 10 * (100vw / 576));
	}
}
